html, body {
    scroll-behavior: smooth;
    font-family: 'Playfair Display', serif !important;
    height: 100%;
    width:100%
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif !important;
    margin: 0 !important;
}

h1 {
    font-size: 64px !important;
    font-weight: 700 !important;
}

h2 {
    font-size: 40px !important;
    color: #D6AA80;
    font-weight: 700 !important;
}

h4 {
    font-size: 24px !important;
    padding: 24px 0px 16px;
    color: #00698e;
    font-weight: bold !important;
}

.col-sm-12 {
    padding: 0 !important;
}

.center-btn {
    text-align: center;
    padding-top: 50px;
}

hr {
    border-top: 2px solid #333 !important;
}


div.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff !important;
    z-index: 999;
    transition: all 0.4s;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.22);
}

.sticky + .under {
    padding-top: 72px;
}

.top-left {
    padding: 0 !important;
}

.book-header {
    display: flex;
    padding: 12px 24px;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #75a7b9;
    color: white;
    font-family: 'Playfair Display', serif !important;
    font-weight: 700;
    letter-spacing: 2px;
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 100;
}

.navbar {
    padding: 0px 100px !important;
    height: 72px;
}

.nav-link {
    line-height: 1.43;
    font-size: 18px;
    font-weight: 500;
    padding-left: 24px !important;
    color: #6c675c;
}

.top-container {
    padding: 200px 60px 32px 100px;
    margin-bottom: 30%;
}

.top-title {
    color: #d5aa80;
    font-size:4.2em !important;
}

.top-subtitle {
    font-size: 24px !important;
    margin-bottom: 44px !important;
    color: #BDA78B;
    font-weight: 400 !important;
}

.btn {
    background-color: #00698e !important;
    color: white !important;
    padding: 12px 32px !important;
    font-size: 0.875rem !important;
    box-shadow: none !important;
    box-sizing: border-box !important;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-weight: 500 !important;
    line-height: 1.75 !important;
    border-radius: 100px !important;
    letter-spacing: 0.12em !important;
    text-transform: uppercase;
}

.quay-bg1 {
    color: white; 
    background-image: url(../images/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

#top {
    margin-top: 0;
    background: #E6D5C4;
}

.text-banner {
    background-image: url(../images/location.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #006A92;
    font-size: 2.1em !important;
    font-weight: 400 !important;
    padding: 150px;
    padding-left: 30%;
    padding-right: 30%;
    line-height: 1.5;
    font-family: 'Playfair Display', serif !important;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.promise {
    padding-top: 0;
    margin: 60px 5% 50px 5% !important;
}

.promise-title {
    color: #d5aa80;
    padding: 55px 0px 60px;
    padding-top: 35px;
    font-size: 2.6em !important;
}

.promise-title2 {
    color: #d5aa80;
    padding: 55px 0px 40px;
    padding-top: 35px;
    font-size: 2.6em !important;
}

.promise-col {
    border-top: 1px solid #eae0ca;
    padding: 25px;
}

.promise-desc {
    font-size: 16px !important;
    color: #424748;
    padding-top: 0;
    font-weight: 100 !important;
    line-height: 1.5;
}

.service {
    padding: 80px;
    border-top: 2px solid #424748;
}

.service-col {
    padding: 20px;
}

.service-title {
    padding: 50px 0px 45px;
}


img {
    max-width: 100%;
}

.service-desc h4 {
    color: #00698e!important;
    font-size: 35px;
}

.service-desc span {
    font-size: 18px !important;
    font-family: 'Playfair Display', serif !important;
    padding: 0 10px 0 0;
    line-height: 1.5;
}


.book {
    padding: 100px !important;
    background-color: #E6D5C4;
    
}

.book-title {
    color: #00698e;
    margin-bottom: 50px !important;
    
}

.parallax {
    /* The image used */
    background-image: url("/images/close-up.jpg");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#footer {
    background-color: #4a7a8f;
    padding: 100px;
    padding-bottom: 40px;
}

.footer-title h4 {
    color: #FFF;
    font-size: 32px !important;
    padding-bottom: 40px;
}

.footer-title {
    border-bottom: 1px solid #b7d0db;
    margin-bottom: 24px;
}

.contact h5 {
    font-family: 'Playfair Display', serif !important;
    font-size: 17px;
    color: #FFF;
}

.contact {
    padding-bottom: 24px;
}

.contact a {
    color: white;
}

.contact a:hover {
    text-decoration: underline;
    color: white;
}

.contact span {
    color: white;
}

.icon {
    margin-right: 10px;
}

i.fab {
    font-size: 20px;
    display: inline-block;
    border-radius: 60px;
    padding: 0.5em 0.6em;
    color: white;
    width: 2em;
}

i.fab:hover {
    background-color:#75bfd8;
}

.social {
    padding: 10px;
}

.copyright {
    background: #2f5363;
    height: 50px;
    text-align: center;
    color: #7a9dac;
    padding: 10px;
}

.text-banner-info {
  font-size: 20px !important;
  line-height: 1.5em;
}

.pg-color {
    color: white;
    margin-top: 4px;
}

.doc-img {
    max-width: 716px;
    max-height: 716px;
}

.border-img {
    padding-top: 25px;
    border-top: 1px solid #eae0ca;
}

.row2 {
    margin-right: 0 !important;
}

@media screen and (min-width:360px) {
    .doc-img {
        max-width: 304px;
        max-height: 304px;
    }
    .banner-location {
        background-image: url(../images/location-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 180px;
    }
}

@media screen and (min-width:375px) {
    .doc-img {
        max-width: 317px;
        max-height: 317px;
    }
    .banner-location {
        background-image: url(../images/location-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 190px;
    }
}

@media screen and (min-width:411px) and (max-width:414px) {
    .doc-img {
        max-width: 355px;
        max-height: 362px;
    }
    .banner-location {
        background-image: url(../images/location-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 205px;
    }
}

@media screen and (max-width: 768px) {
    .top-title {
        font-size : 50px !important;
    }

    .top-container{
            padding: 30px;
            margin-top: 50px;
            margin-bottom: 50px;
    }      
    
    .top-title {
      color: #D9985A;
      font-size:3em !important;
    }
    
    .top-container .col-sm-12 {
        text-align : center;
    }

    .service-col .col-sm-12 {
        text-align : center;
    }
    
    .quay-bg1 {
        color: white;
        height: 330px;
        color: white; 
        background-image: url(../images/main.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
    }
    
    .book {
        padding: 45px !important;
    }
    .book .col-md-6 {
        padding: 0px !important;
    }

    .service {
        padding: 70px 20px 20px 20px;
    }

    .promise .row .col-md-3{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }


    .service-col {
        padding : 10px;
    }

    .service-col .col-md-3 {
        padding-left : 0px !important;
        padding-right : 0px !important;
    }

    .services-img {
        margin-bottom: 15%;
    }

    #footer {
        padding: 40px;
    }

    .navbar {
        z-index: 100;
        background-color: white;
    }
}

@media screen and (max-width:758px){
    .service{
        padding: 20px;
    }

    .promise {
        padding: 10px !important;
    }

    .promise-col {
        padding: 15px !important;
    }

    .promise-title {
        padding: 40px 0px 40px 0px !important;
        padding-top: 20px !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px){
    .quay-bg1 {
        background-position: center;
    }
}

@media screen and (min-width: 769px) {
    .service-desc h4 {
        font-size: 24px !important;
    }
}

@media screen and (max-width:767px) {
    .navbar {
        padding: 10px 0px 10px 0px !important;
        height: unset;
    }

    .navbar-brand {
        padding-left: 1em;
    }

    .navbar-brand img {
        height: 35px;
        padding-left: 10px;
    }

    .navbar-collapse {
        background-color: #75a7b9;
        z-index: 100;
    }

    .navbar-toggler {
        font-size: 1.5rem !important;
        padding: .25rem 2rem !important;
    }

    .nav-link {
        padding-left: 0 !important;
        text-align: center;
        line-height: 1.5;
        color: white;
    }

    h1 {
        font-size: 3em !important;
    }

    .btn {
        min-width: 100px !important;
    }

    .text-banner {
        font-size: 1.7em !important;
        line-height: 1.3em;
        padding: 50px;
    }

    .copyright {
        height: 60px;
    }

}

@media screen and (min-width:768px) and (max-width:840px) {
    .top-title {
        font-size: 50px !important;
    }

    .top-subtitle {
        line-height: 1.5;
        font-size: 1.5em !important;
    }
    .btn {
        width: 90% !important;
        float: left;
    }
    .banner-location {
        background-image: url(../images/location.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 110px;
    }
}

@media screen and (min-width:1280px) {
    .btn-pos {
        padding-bottom: 28px;
    }
    .doc-img {
        max-width: 541px;
        max-height: 541px;
    }
    .banner-location {
        background-image: url(../images/location.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 180px;
    }
}

@media screen and (min-width:1440px) {
    .btn-pos2 {
        padding-bottom: 27px;
    }

    .doc-img {
        max-width: 613px;
        max-height: 613px;
    }

    .banner-location {
        background-image: url(../images/location.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 220px;
    }
}

@media screen and (min-width:1680px) {
    .btn-pos3 {
        padding-bottom: 27px;
    }
    .doc-img {
        max-width: 741px;
        max-height: 741px;
    }
    .banner-location {
        background-image: url(../images/location.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 250px;
    }
}